.advantages {
  max-width: 1366px;
  margin: auto;
  padding: 97px 163px 133px 167px;
  background-color: $color-ghost-white;

  @media screen and (max-width: 1199px) {
    padding: 93px 20px 94px 43px;
  }

  @media screen and (max-width: 767px) {
    padding: 64px 0 31px;
  }
}

.advantages__title {
  margin: 0 0 40px 10px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  align-items: center;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin: 0 43px 39px 0;
    font-size: 42px;
    line-height: 50px;
  }

  @media screen and (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    margin: 0 18px 30px 0;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  gap: 0 45px;
  margin: 0 3px 0 0;
  padding: 0;

  @media screen and (max-width: 1199px) {
    grid-template-columns: 1fr 1fr;
    gap: 41px 5px;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.advantages__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 100%;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin: 0 0 20px;
    padding: 0 40px;
  }
}

.advantages__item-next {
  margin: 0 0 66px;
  padding: 0 0 75px;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @media screen and (max-width: 1199px) {
    margin: 0;
    padding: 0;
    border: none;
  }

  @media screen and (max-width: 767px) {
    margin: 0 0 21px;
    padding: 0 40px;
  }
}

.advantages__container-list {
  margin: 0;
  padding: 0;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.advantages__container-item {
  margin: 0;
  padding: 0;
}

.advantages__container-number {
  margin: -13px 0 0 17px;
  padding: 0;
  max-width: 200px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 71px;
  line-height: 150%;
  background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  background-clip: text;
  color: transparent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 1199px) {
    font-size: 58px;
    margin: -11px 0 0 3px;
  }

  @media screen and (max-width: 767px) {
    margin: auto;
  }
}

.advantages__container-description {
  margin: -21px 0 0 16px;
  padding: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $color-persian-blue;

  @media screen and (max-width: 1199px) {
    margin: -19px 0 0 2px;
  }

  @media screen and (max-width: 767px) {
    margin: -18px 0 0 0;
  }
}

.advantages__container-title {
  margin: 8px 0 6px 28px;
  padding: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: $color-sapphire;

  @media screen and (max-width: 1199px) {
    font-size: 20px;
    margin: 2px 0 2px 28px;
  }

  @media screen and (max-width: 767px) {
    margin: 5px 0 2px 0;
  }
}

.advantages__container-description-list {
  margin: 0 0 0 28px;
  padding: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: $color-sapphire;

  @media screen and (max-width: 767px) {
    margin: 0;
  }
}

.advantages__item-index {
  margin-top: 15px;
  max-height: 307px;
  grid-row: 1/3;
  grid-column: 2/3;

  @media screen and (max-width: 1199px) {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: auto;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
    margin: 20px 0 28px;
    padding: 0;
  }
}

.advantages__wrapper {
  padding: 36px 34px 58px;
  background-color: $color-resolution-blue;
  color: $color-default-white;

  @media screen and (max-width: 1199px) {
    padding: 16px 135px 37px;
    max-width: 442px;
    margin: 0 22px 0 0;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
    margin: 0;
    padding: 21px 53px 43px 55px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__container-item-index {
    margin-right: 17px;
  }
}

.advantages__container-number-index {
  margin: 0 0 0 27px;
  padding: 0;
  max-width: 100px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 74px;
  line-height: 150%;

  @media screen and (max-width: 767px) {
    margin: auto;
  }
}

.advantages__container-description-index {
  margin: -17px 0 0 21px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;

  @media screen and (max-width: 1199px) {
    margin: -21px 0 0 31px;
    font-size: 22px;
  }

  @media screen and (max-width: 767px) {
    margin: -26px 0 0 20px;
  }
}

.advantages__item-index p {
  margin: 32px 0 0 0;
  padding: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-top: 15px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 9px;
  }
}
