.coaches {
  max-width: 1366px;
  margin: auto;
  padding: 16px 0 140px;

  @media screen and (max-width: 1199px) {
    padding: 10px 0 100px;
  }

  @media screen and (max-width: 767px) {
    padding: 3px 0 70px;
  }
}

.coaches__wrapper {
  position: relative;
  padding: 0 103px;

  @media screen and (max-width: 1199px) {
    padding: 0 101px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 47px;
  }
}

.coaches__title {
  margin: 0 0 47px 2px;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;

  @media screen and (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin: 0 6px 31px 0;
  }

  @media screen and (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }
}

.coaches__item {
  width: 100%;
  height: 100%;
  margin: 0 40px 0 0;
  position: relative;
  list-style-type: none;
  background: $color-sapphire;
  color: $color-default-white;

  @media screen and (max-width: 1199px) {
    margin: 0 30px 0 0;
  }

  @media screen and (max-width: 767px) {
    margin: 0 30px 0 0;
  }
}

.coaches__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 35px rgba(42, 59, 99, 0.17);
}

.coaches__heading {
  margin: 0 0 22px;
  position: absolute;
  bottom: 0;
  left: 78px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;

  @media screen and (max-width: 767px) {
    left: 60px;
  }
}

.coaches__heading-index {
  left: 70px;

  @media screen and (max-width: 767px) {
    left: 55px;
  }
}

.coaches__heading-next {
  left: 58px;

  @media screen and (max-width: 767px) {
    left: 40px;
  }
}

.coaches__container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 76px 40px 50px 71px;
  background-color: rgba(16, 38, 84, 0.89);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;

  @media screen and (max-width: 1199px) {
  }

  @media screen and (max-width: 767px) {
    padding: 65px 33px 48px 50px;
  }
}

.coaches__item:hover .coaches__container {
  opacity: 1;
  pointer-events: all;

  @media screen and (max-width: 1199px) {
    opacity: 0;
    pointer-events: none;
  }
}

.coaches__item:hover .coaches__heading {
  top: 52px;
  z-index: 10;

  @media screen and (max-width: 1199px) {
    top: 245px;
  }

  @media screen and (max-width: 767px) {
    top: 225px;
  }
}

@media screen and (max-width: 1199px) {
  .coaches__item:active .coaches__container,
  .coaches__item:focus .coaches__container {
    opacity: 1;
    pointer-events: all;
  }
}

@media screen and (max-width: 1199px) {
  .coaches__item:active .coaches__heading,
  .coaches__item:focus .coaches__heading {
    top: 52px;
    z-index: 10;
  }
}

@media screen and (max-width: 767px) {
  .coaches__item:active .coaches__heading,
  .coaches__item:focus .coaches__heading {
    top: 42px;
  }
}

.coaches__container p {
  margin: 0 0 33px 33px;
  padding: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: $color-spindle;

  @media screen and (max-width: 767px) {
    margin: 0 0 33px 37px;
  }
}

.coaches__container-list {
  margin: 0;
  padding: 0;
}

.coaches__container-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: start;
}

.coaches__container-item p {
  position: relative;
  margin: 0 0 13px 0;
  padding: 0;
  font-size: 14px;
  color: $color-default-white;
}

.coaches__container-item p::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 6px;
  left: -16px;
  background-color: $color-default-white;
  border-radius: 50%;
  z-index: 10;
}

.coaches__wrapper-next {
  position: absolute;
  z-index: 0;
  top: 60%;
  left: 0;
  width: 100%;
  height: 40px;

  @media screen and (max-width: 1199px) {
    top: 56%;
  }

  @media screen and (max-width: 767px) {
    top: 57%;
  }
}

.coaches__button {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  width: 20px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.coaches__button--next {
  right: 45px;
  transform: rotate(180deg);

  @media screen and (max-width: 767px) {
    right: 11px;
  }
}

.coaches__button--prev {
  left: 45px;

  @media screen and (max-width: 767px) {
    left: 11px;
  }
}

@media screen and (max-width: 767px) {
  .coaches__svg {
    width: 10px;
    height: 19px;
  }
}
