.footer {
  padding: 43px 103px 33px;
  background-color: $color-black-russian;
  color: $color-default-white;

  @media screen and (max-width: 1199px) {
    padding: 43px 39px 44px 45px;
  }

  @media screen and (max-width: 767px) {
    padding: 46px 15px 52px;
  }
}

.footer__wrapper {
  position: relative;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.footer__logo-link {
  display: flex;
  margin: 0;
  padding: 10px 0 5px 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (max-width: 1199px) {
    width: 82px;
    height: 22px;
    padding: 0;
  }

  @media screen and (max-width: 767px) {
    box-sizing: content-box;
    width: 68px;
    height: 19px;
    padding: 5px 0;
  }
}

.footer__list {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0 31.5%;
  padding: 0;
  list-style-type: none;

  @media screen and (max-width: 1199px) {
    margin: 0 0 0 21%;
    max-width: 425px;
  }

  @media screen and (max-width: 767px) {
    margin: 0;
    display: block;
    column-count: 2;
    column-gap: 30px;
    padding: 0;
  }
}

.footer__logo {
  position: absolute;
  top: 0;
  left: 0;

  @media screen and (max-width: 767px) {
    position: static;
    margin-bottom: 11px;
  }
}

.footer__item {
  margin: 0;
  margin-right: 41px;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 31px;
  }

  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.footer__link {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 19px;
  }
}
