.menu {
  display: flex;

  @media screen and (max-width: 1199px) {
    max-width: 422px;
  }
}

.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 154px;
  margin: 2px 0 0 -26px;
  padding: 0;
  color: $color-default-white;

  @media screen and (max-width: 1199px) {
    max-width: 221px;
    margin-left: 10px;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 250px;
    margin-left: 0;
  }
}

.menu__list-index {
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 39px;
  max-width: 200px;

  @media screen and (max-width: 1199px) {
    margin-left: 22px;
    max-width: 218px;
  }

  @media screen and (max-width: 767px) {
    margin-top: -39px;
    margin-left: 67px;
  }
}

.menu__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 41px;

  &:last-child {
    margin-right: 3px;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 31px;
  }

  @media screen and (max-width: 767px) {
    margin-right: 50px;
    margin-bottom: 16px;
  }
}

.menu__link {
  padding: 0;
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 19px;
  }
}
