.season-tickets {
  position: relative;
  padding: 120px 103px;
  background: $color-ghost-white;

  @media screen and (max-width: 1256px) {
    padding: 120px 70px;
  }

  @media screen and (max-width: 1199px) {
    padding: 99px 163px 100px;
  }

  @media screen and (max-width: 767px) {
    padding: 64px 17px 34px 15px;
  }
}

.tabs__controls {
  position: relative;
}

.tabs__controls::after {
  position: absolute;
  content: "";
  width: 344px;
  height: 2px;
  top: 42px;
  left: 0;
  background: rgba(120, 120, 120, 0.2);

  @media screen and (max-width: 1199px) {
    width: 331px;
    top: 39px;
  }

  @media screen and (max-width: 767px) {
    top: 36px;
    width: 290px;
  }
}

.season-tickets__wrapper {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.season-tickets__title {
  margin: 0 5px 15px 0;
  padding: 0;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;

  @media screen and (max-width: 1199px) {
    margin: 0 14px 19px 0;
    font-size: 42px;
    line-height: 50px;
  }

  @media screen and (max-width: 767px) {
    margin: 0 11px 20px 0;
    font-size: 32px;
    line-height: 38px;
  }
}

.season-tickets__img {
  position: absolute;
  bottom: -149px;
  right: 0;

  @media screen and (max-width: 1199px) {
    bottom: -84px;
    width: 347px;
    height: 444px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
